
<div class="row">
  <nav class="blue-profil">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons">chat_bubble</i>CV-Thèque</a>
      <ul class="right hide-on-med-and-down">
        <li>
          <input id="search" type="text" placeholder="rechercher" class="validate">
        </li>
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>

      </ul>
    </div>
  </nav>
  
</div>
<div class="centrer">
  <a id="scale-demo" href="#!" class="btn-floating btn-large scale-transition red pulse">
    <i class="material-icons">add</i>
  </a>
</div>

<div id="table">
  <h3 class="centrer">Candidats</h3>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Profil</th>
            <th>Noms</th>
            <th>Ecole</th>
            <th>Compétences</th>
            <th>Coordonnées</th>
            
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="tdImage">
                 <div >
                    <img class="responsive-img circle little" src="../assets/images/avatar.jpg"  >
                 </div>
            </td>
            <td>Jean PIERRE</td>
            <td>INSA</td>
            <td>Java;Python;C</td>
            <td>
              xxx@gmail.com<br>
              +337-55-05-54-47
            </td>
            
        </tr>
         <tr>
            <td class="tdImage">
                 <div >
                    <img class="responsive-img circle little" src="../assets/images/avatar.jpg"  >
                 </div>
            </td>
            <td>Jean PIERRE</td>
            <td>INSA</td>
            <td>Java;Python;C</td>
            <td>
              xxx@gmail.com<br>
              +337-55-05-54-47
            </td>
            
        </tr>
         <tr>
            <td class="tdImage">
                 <div >
                    <img class="responsive-img circle little" src="../assets/images/avatar.jpg"  >
                 </div>
            </td>
            <td>Jean PIERRE</td>
            <td>INSA</td>
            <td>Java;Python;C</td>
            <td>
              xxx@gmail.com<br>
              +337-55-05-54-47
            </td>
            
        </tr>
         <tr>
            <td class="tdImage">
                 <div >
                    <img class="responsive-img circle little" src="../assets/images/avatar.jpg"  >
                 </div>
            </td>
            <td>Jean PIERRE</td>
            <td>INSA</td>
            <td>Java;Python;C</td>
            <td>
              xxx@gmail.com<br>
              +337-55-05-54-47
            </td>
            
        </tr>
         <tr>
            <td class="tdImage">
                 <div >
                    <img class="responsive-img circle little" src="../assets/images/avatar.jpg"  >
                 </div>
            </td>
            <td>Jean PIERRE</td>
            <td>INSA</td>
            <td>Java;Python;C</td>
            <td>
              xxx@gmail.com<br>
              +337-55-05-54-47
            </td>
            
        </tr>
        <tbody>
        
    </table>
   
</div>
  
</div>

<div class="centrer mettreEcart">
       <ul class="pagination" >
          <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
          <li class="active"><a href="#!">1</a></li>
          <li class="waves-effect"><a href="#!">2</a></li>
          <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li>
          <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>
</div>
<div class="footer-profil">
  
  <footer class="page-footer blue-profil " >
   <div class="footer-copyright centrer" >
      <div class="container" >
      © 2020 Copyright Excilys
      </div>
    </div>
  </footer>
</div>
<router-outlet></router-outlet>
